{block content}
	<div class=align-mid>

		<p>Vytvorili:</p>
		<dl>	
		  <dt>Zuzana Studená</dt>
		  <dd>Login: xstude22</dd>
		  <dd>E-mail: xstude22@stud.fit.vutbr.cz</dd>
		</dl>
		<dl>
		  <dt>Beňo Marek</dt>
		  <dd>Login: xbenom01</dd>
		  <dd>E-mail: xbenom01@stud.fit.vutbr.cz </dd>
		</dl>  

	</div>	
{/block}	