#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:
	

php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

session:
	expiration: 14 days

services:
	- App\Forms\SignFormFactory
	- App\Model\UserManager 
	router: App\RouterFactory::createRouter
	
	authorizator:
		class: Nette\Security\Permission
		setup:
			- addRole('guest')
			- addRole('waiter', 'guest')
			- addRole('manager', 'waiter')
			- addRole('admin', 'manager')
			- addResource('Chngpassw')
			- addResource('Default')
			- addResource('Orders')
			- addResource('Reservations')
			- addResource('Tables')
			- addResource('Goods')
			- addResource('Staff')
			- addResource('editEmployee')
			- addResource('delete')
			- addResource('Sales')
			- allow('waiter', 'Chngpassw')
			- allow('waiter', 'Orders') # šetky akcie resource Admin:Default
			- allow('waiter', 'Reservations')
			- allow('waiter', 'Tables')
			- allow('manager', 'Goods')
			- allow('manager', 'Staff')
			- allow('manager', editEmployee)
			- allow('admin') # šetky resources a ich akcie

extensions:
    formDateTime: IPub\FormDateTime\DI\FormDateTimeExtension