{block content}
	
	<h2>Stoly </h2>
	<div class="table-select">
		<p ><a class="left" n:href="showAll" >Zobrazit všetky stoly  </a></p>
		<p ><a n:href="showFree">Zobrazit volné stoly</a></p>
	<div>	
{/block}
