{block content}

	{if $user->loggedIn}
		<div class="user">{}</div>
	    <p><a n:href="Sign:out">Odhlásit</a></p>

	{else}
	 	<div class="signIn">
	 		<h2 n:block=title>Prihlásenie</h2>
			{control signInForm}	
		</div>
	{/if}

{* or use {include '../components/form.latte', form => signInForm} *}
